@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  flex-grow: 1;
  background-color: #ffffff;
  min-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px#00000033;
}

.container {
  width: 100%;
  max-width: 1090px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.input {
  background-color: #F2F2F2;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.logo {
  margin-bottom: -6px;
}
.logo:focus-visible {
  outline: none;
  opacity: 0.8;
}
.logo:hover {
  opacity: 0.8;
}
.logo-image {
  display: block;
}

.navigation {
  display: flex;
  max-width: 1200px;
}

.navigation-list {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0 0 0 46px;
  padding: 0;
  column-gap: 32px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.navigation-item-link {
  display: block;
  padding: 20px 0;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

.navigation-item-link:hover,
.navigation-item-link:focus-visible {
  color: #756157;
  outline: none;
}

.navigation-item-link:active {
  color: #7561574D;
}

.navigation-item {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  background-color: #756257;
  width: 100%;
  top: auto;
  right: 0;
  bottom: -1px;
  left: 0;
  margin: auto;
  height: 2px;
}
.navigation-item:last-child .navigation-item-link::after .navigation-user-item {
  display: flex;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
  position: relative;
}

.navigation-user-number {
  font-family: inherit;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  position: absolute;
  content: "";
  top: 12px;
  right: 2px;
  padding: 5px;
  border-radius: 10px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user-item-link:hover,
.navigation-user-item-link:focus-visible {
  color: #756157;
  outline: none;
}

.navigation-user-item-link:active {
  color: #7561574D;
}

.navigation-user-item {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-item-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  margin-left: 20px;
  box-sizing: border-box;
}

.nav-basket {
  display: inline-block;
  padding: 8px 34px 8px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation-user-item-link:last-child:focus-visible {
  background-color: #615048;
}
.nav-basket:hover,
.nav-basket:focus-visible {
  background-color: #615048;
  border-radius: 4px;
}

.nav-basket:active {
  background-color: #FFFFFF4D;
  border-radius: 4px;
}

.nav-basket:disabled {
  background-color: #E5E5E5;
  border-radius: 4px;
}

.page-main {
  background-color: #ffffff;
  color: #000000;
}

.welcome {
  background-image: url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4dae9;
  min-height: 485px;
}

.welcome-image {
  display: block;
  padding: 51px 371px 82px 371px;
  margin: 0 auto;
}

.description {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  max-width: 651px;
  padding-top: 69px;
  margin: 0 auto;
}

.description-title {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 25px 0;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  margin: 25% auto;
}

.description-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 90px;
}

.advantages-item-w-image {
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
  display: flex;
  align-items: center;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  background-color: #83B3D31F;
}

.advantages-card {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  margin: 0 auto;
  position: relative;
}

.advantages-card-light {
  background-color: #82B3D3;
  width: 400px;
}

.advantages-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 230px;
  position: relative;
  padding: 102px 85px;
}

.advantages-title-light {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 62px 0;
}

.advantages-title-light::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF4D;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  margin: 15% auto;
}

.advantages-item {
  background-color: #83B3D333;
  width: 400px;
}

.advantages-item:nth-child(2n) {
  background-color: #83B3D31F;
}

.advantages-title {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 113px 0 62px 0;
  width: 175px;
}

.advantages-text-light {
  line-height: inherit;
  font-size: inherit;
  text-align: center;
  padding: 0;
  margin: 0;
}

.advantages-text {
  line-height: inherit;
  font-size: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 113px 0;
}

.search-promo {
  display: flex;
  flex-direction: column;
}

.preview {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 64px 0 20px 0;
  width: 505px;
}

.preview-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  padding-bottom: 64px;
  width: 505px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  background-color: #83B3D31F;
  width: 400px;
}

.benefits-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.benefits-card {
  width: 230px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.benefits-image {
  margin: 0 auto;
  padding: 81px 0 30px 0;
}

.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 30px 0;
}

.benefits-text {
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0 0 81px 0;
}

.preview-promo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 64px 0 20px 0;
  width: 592px;
}

.preview-text-promo {
  font-weight: inherit;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  padding-bottom: 64px;
  width: 592px;
}

.search-button {
  display: flex;
  margin-bottom: 96px;
  color: #756157;
}
.search-promo-btn {
  margin: 0 auto;
  padding: 8px 50px;
}

.search-promo-btn:hover {
  background-color: #615048;
  border-radius: 4px;
}
.search-promo-btn:focus-visible {
  background-color: #615048;
  border-radius: 4px;
  outline: none;
}
.search-button:active .search-promo-btn {
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF4D;
}

.search-promo-btn:disabled {
  background-color: #E5E5E5;
  border-radius: 4px;
}

.subscribe {
  background-image: url("../images/subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #82B3D3;
}

.subscribe-news {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 96px 0 20px 0;
  width: 475px;
  margin: 0 auto;
}

.subscribe-text {
  font-weight: inherit;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding: 0 0 54px 0;
  width: 475px;
  margin: 0 auto;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.subscribe-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.subscribe-label-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: inherit;
  padding: 14px 0 14px 20px;
  width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  box-sizing: border-box;
}

.subscribe-label-input:hover,
.subscribe-label-input:focus-visible,
.subscribe-label-input:active {
  outline: 3px solid #68A2CA;
}

.button-light {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

.button-light:hover,
.button-light:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.button-light:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-item {
  min-width: 47px;
  min-height: 40px;
  position: relative;
}

.social-link {
  color: #83B3D3;
}
.social-link:focus-visible {
  fill: #68A2CA;
  stroke: #68A2CA;
}
.social-icon {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-icon:hover,
.social-icon:focus-visible {
  fill: #68A2CA;
}

.social-icon:active {
  fill: #68A2CA4D;
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-contacts:hover,
.footer-contacts:focus-visible {
  color: #756157;
  outline: none;
}

.footer-contacts:active {
  color: #7561574D;
}

.address-link {
  margin: 0;
  padding: 0;
}
.address-link:focus-visible {
  outline: none;
  fill: #756157;
}
.address-link-image:hover,
.address-link-image:focus-visible {
  fill: #756157;
}
.address-link-image:active {
  fill: #7561574D;
}

.address-link-image {
  display: block;
}

/* Catalog */

.row {
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding: 0;
}

.row-h-first {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  padding-top: 35px;
  margin: 0;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  padding: 0 0 0 28px;
}
.breadcrumbs-item:not(:first-child) {
  background-image: url(../images/icons/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
}
.breadcrumbs-child:not(.breadcrumbs-child-one):hover {
  opacity: 0.6;
}
.breadcrumbs-child:not(.breadcrumbs-child-one):focus-visible {
  outline:  0.6;
}
.breadcrumbs-child:not(.breadcrumbs-child-one):active {
  opacity: 0.4;
}
.breadcrumbs-item:nth-child(1) {
  padding: 0;
}
.row-form {
  display: flex;
}

.row-group {
  margin-top: 40px;
  margin-right: 70px;
  margin-bottom: 73px;
  padding: 0;
  border: none;
}

.row-group-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}
.price-input-left, .price-input-right {
  border: none;
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.price-input-left::-webkit-outer-spin-button,
.price-input-left::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.price-input-right::-webkit-outer-spin-button,
.price-input-right::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.price-input-left:hover, .price-input-right:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}
.price-input-left:focus-visible, .price-input-right:focus-visible {
  outline: 3px solid #83B3D3;
}
.price-input-left:active, .price-input-right:active {
  box-shadow: 0 7px 15px #00000066;
  outline: 2px solid #83B3D3;
}
.price-input-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 143px;
  box-sizing: border-box;
  position: relative;
}
.price-input-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 143px;
  box-sizing: border-box;
}
.price-label-left {
  position: absolute;
  content: "";
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 24px;
  color: #000000;
  opacity: 0.4;
  bottom: 12px;
  left: 105px;
  z-index: 1;
  width: 17px;
  height: 24px;
}
.price-label-right {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 24px;
  color: #000000;
  opacity: 0.4;
  position: absolute;
  content: "";
  z-index: 1;
  bottom: 12px;
  left: 249px;;
  width: 20px;
  height: 24px;
}
.range-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  column-gap: 2px;
  margin-bottom: 36px;
  position: relative;
}
.range-content {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
}
.range-slider {
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}
.range-button {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: none;
}
.range-button:hover {
  box-shadow: 0 4px 10px #00000040;
  cursor: pointer;
}
.range-button:focus-visible {
  box-shadow: 0 4px 10px #00000040;
  outline: 3px solid #83B3D3;
}
.range-button:active {
  box-shadow: 0 7px 15px #00000066;
  outline: 2px solid #83B3D3;
}
.button-min {
  position: absolute;
  content: "";
}
.button-max {
  position: absolute;
  content: "";
}
.checkbox {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.checkbox-item:not(:last-child) {
  padding-bottom: 16px;
}
.checkbox-label {
  position: relative;
  display: block;
  padding-left: 36px;
  transition: opacity 0.1s;
}
.checkbox-label:hover {
  opacity: 0.7;
}
.checkbox-label:active {
  opacity: 0.2;
}
.checkbox-mark {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
}

.checkbox-input[type="checkbox"]:checked + .checkbox-mark::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: -45%;
  left: 25%;
  right: 0;
  margin: auto;
  color: #3F5E72;
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/checkbox.svg);
  background-repeat: no-repeat;
}
.checkbox-input[type="radio"] + .checkbox-mark {
  border-radius: 50%;
}

.checkbox-input[type="radio"] + .checkbox-mark:focus-visible {
  outline: 3px solid #83B3D3;
}
.checkbox-input[type="radio"]:checked + .checkbox-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #3F5E72;
}
.checkbox-input:focus-visible + .checkbox-mark {
  outline: 3px solid #83B3D3;
}
.checkbox-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: inherit;
  color: #ffffff;
}
.price {
  margin-top: 40px;
  border: none;
}

.price-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  font-family: inherit;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  font-family: inherit;
  margin-bottom: 32px;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
}
.button-apply:hover, .button-apply:focus-visible {
  background-color: #68A2CA;
  outline: none;
}
.button-apply:active {
  color: #FFFFFF4D;
}
.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: inherit;
  padding: 8px 50px;
  border: none;
}
.button-reset:hover {
  opacity: 0.4;
}
.button-reset:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}
.button-reset:active {
  opacity: 0.2;
}
.price-button {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 96px;
}

.view-icon {
  padding: 17px 16px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
}
.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin: 6px 0 6px 0;
  width: 400px;
}

.wrapper-select {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 40px 0;
  margin-left: auto;
}

.select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 70px 0 auto;
  padding: 14px 0 14px 20px;
  width: 292px;
  height: min-content;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.select:hover {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
  cursor: pointer;
}
select:focus-visible {
  outline: 2px solid #68A2CA;
  border-radius: 4px;
}
.select:disabled {
  opacity: 0.3;
}
.select-view {
  display: flex;
  column-gap: 8px;
}
.button-view {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
}
.button-view:hover {
  outline: 2px solid #000000;
}
.button-view:focus-visible {
  outline: 2px solid #83B3D3;
}
.button-view:active {
  outline: 2px solid #000000;
}
.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0 auto 40px auto;
  padding: 0 0 39px 0;
  border-bottom: 1px solid #E6E6E6;
}

.catalog-item {
  padding: 20px;
  gap: 16px 20px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 212px min-content 21px 36px 37px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.catalog-link {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 212px min-content;
  grid-column: 1/-1;
  grid-row: 1/3;
  text-decoration: none;
  gap: 16px;
}

.catalog-image {
  grid-column: 1/-1;
}
.catalog-link:focus-visible {
  outline: none;
}
.catalog-name {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  grid-column: 1/-1;
}

.catalog-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  grid-column: 1/3;
  grid-row: 3/4;
  margin: 0;
}

.catalog-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  text-align: right;
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 0;
}

.button-card-more {
  display: flex;
  grid-column: 1/2;
  grid-row: 4/5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button-card-more:hover, .button-card-more:focus-visible {
  background-color: #615048;
  outline: none;
}
.button-card-more:active {
  background-color: #756157;
  color: #FFFFFF4D;
}
.button-card {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  grid-column: 2/3;
  grid-row: 4/5;
  border: none;
}
.button-card:hover, .button-card:focus-visible {
  background-color: #68A2CA;
  outline: none;
}
.button-card:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}
.button-card-liked {
  background-color: #7DB54F;
}
.button-card-liked:hover, .button-card-liked:focus-visible {
  background-color: #6C9E42;
  outline: none;
}
.button-card-liked:active {
  color: #FFFFFF4D;
  background-color: #7DB54F;
}
.card-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../images/star.svg) 0 0 / 18px space;
  height: 17px;
}

.four-stars {
  max-width: 107px;
}

.three-stars {
  max-width: 67px;
}

.two-stars {
  max-width: 41px;
}

.catalog-rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
  grid-column: 2/3;
  grid-row: 5/6;
  margin: 0;
}

.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}

.pagination-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0 0 60px 0;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 60px;
}

.pagination-item-active {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.pagination-item {
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
}
.pagination-item-more {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
}
.pagination-link-more {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  padding: 0px 22px;
  min-height: 60px;
}
.pagination-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  padding: 0px 24px;
  min-height: 60px;
}
.pagination-link:hover, .pagination-link:focus-visible {
  background-color: #68A2CA;
  border-radius: 4px;
  outline: none;
}
.pagination-link:active {
  opacity: 0.5;
  background-color: #82B3D3;
}
.pagination-link-active {
  text-decoration: none;
  color: #000000;
  padding: 12px 24px;
}

.subscribe-light {
  background-color: #ffffff;
  margin: 0 auto;
}

.subscribe-input-light {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 14px 0 14px 20px;
  width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.subscribe-input-light:hover, .subscribe-input-light:focus-visible,
.subscribe-input-light:active {
  outline: 3px solid #68A2CA;
}
.subscribe-text-light {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 475px;
  margin: 0 auto;
  padding: 20px 0 54px 0;
}

.subscribe-news-light {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding: 96px 0 0 0;
  margin: 0 auto;
  width: 404px;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2CC;
}
.modal-container-close {
  display: none;
}
.modal-search {
  width: 717px;
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 25px 50px #00000026;
  border-radius: 30px;
}
.modal-h-one {
  margin: 0 0 64px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  max-width: 543px;
}
.modal-close-button {
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  position: absolute;
  content: "";
  width: 52px;
  height: 52px;
  top: 74px;
  right: 70px;
}
.modal-close-button:hover {
  background-color: #E6E6E6;
}
.modal-close-button:focus-visible {
  outline: 3px solid #83B3D3;
}
.modal-close-button:active {
  opacity: 0.5;
}
.modal-form {
  display: grid;
  grid-template-columns: 137px 198px 131px 111px;
  grid-template-rows: 48px 48px 48px 48px 48px 48px 60px;
}
.modal-label-date-start {
  grid-row: 1/2;
}
.input-start-icon {
  position: absolute;
  content: "";
  top: 31%;
  right: 13%;
}
.modal-input-date-start {
  grid-column: 2/5;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding-left: 20px;
}
.modal-error-date-start {
  display: inline-block;
  padding-left: 20px;
  grid-column: 2/5;
  text-align: left;
  font-family: inherit;
  color: #FF5757;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  word-break: break-all;
  padding-top: 4px;
}
.modal-label-date-end {
  grid-row: 3/4;
}
.input-end-icon {
  position: absolute;
  content: "";
  top: 47.5%;
  right: 13%;
}
.modal-input-date-end {
  grid-column: 2/5;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding-left: 20px;
}
.modal-input-date-end:hover {
  background-color: #E6E6E6;
}
.modal-input-date-end:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.modal-error-date-end {
  display: inline-block;
  padding-left: 20px;
  grid-column: 2/5;
  grid-row: 4/5;
  text-align: left;
  font-family: inherit;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  word-break: break-all;
  padding-top: 4px;
}
.modal-label-count-adults {
  grid-row: 5/6;
}
.modal-input-count-adults {
  position: relative;
  grid-column: 2/3;
  grid-row: 5/6;
  margin-right: 88px;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.modal-button-adults-minus {
  position: absolute;
  content: "";
  left: 30.5%;
  top: 64.5%;
  z-index: 1;
  border: none;
  width: 20px;
  height: 20px;
}
.count-adults-icon-minus {
  position: absolute;
  content: "";
  left: -1px;
  top: 0.3%;
  z-index: 1;
}
.modal-button-adults-plus {
  position: absolute;
  content: "";
  left: 40%;
  top: 64.5%;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: none;
}
.count-adults-icon-plus {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0.3%;
  left: -1px;
}
.modal-label-count-children {
  grid-row: 5/6;
  position: relative;
}
.modal-button-children-minus {
  position: absolute;
  content: "";
  right: -24%;
  bottom: 1px;
  z-index: 1;
  border: none;
  width: 20px;
  height: 20px;
}
.count-children-icon-minus {
  position: absolute;
  content: "";
  left: -1px;
  top: 0.3%;
  z-index: 1;
}
.modal-button-children-plus {
  right: -77.7%;
  position: absolute;
  content: "";
  bottom: 1px;
  z-index: 1;
  border: none;
  width: 20px;
  height: 20px;
}
.count-children-icon-plus {
  position: absolute;
  content: "";
  left: -1px;
  top: 0.3%;
  z-index: 1;
}
.modal-input-count-children {
  grid-column: 4/5;
  grid-row: 5/6;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.tooltip-toogle {
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  right: 50%;
  position: absolute;
  content: "";
  top: -33%;
}
.tooltip-icon {
  position: absolute;
  content: "";
  top: 12%;
  left: 11%;
}

.modal-tooltip {
  position: absolute;
  content: "";
  bottom: 5.5%;
  left: 50%;
}
.tooltip-text {
  display: block;
  box-sizing: border-box;
  background-color: #333333;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  box-shadow: 0 15px 30px #0000004D;
  width: 256px;
}
.tooltip-toogle::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 9px;
  background-image: url(../images/icons/tooltip-triangle.svg);
  background-repeat: no-repeat;
  z-index: 1;
  top: 135%;
  right: 17%;
}
.modal-button-search {
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  grid-column: 1/5;
  grid-row: 7/8;
}
.modal-form label {
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  word-break: break-all;
  align-self: center;
}
.modal-input-count-adults::-webkit-outer-spin-button,
.modal-input-count-adults::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.modal-input-count-children::-webkit-outer-spin-button,
.modal-input-count-children::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
