@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}
.page-container {
  flex-grow: 1;
  background-color: #ffffff;
  min-width: 1200px;
  margin: 0 auto;
}
.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
}
.input {
  background-color: #F2F2F2;
  font-family: inherit;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}
.logo {
  display: block;
  margin-left: 70px;
}
.navigation {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
  padding: 16px 20px;
}
.navigation-list {
  max-width: 400px;
  display: flex;
  list-style-type: none;
  margin-right: 285px;
}
.navigation-item {
  margin: 16 0px;
}
.navigation-user {
  display: flex;
  margin-right: 70px;
  list-style-type: none;
}
.navigation-item-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.navigation-user-item-link {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.nav-basket {
  text-transform: uppercase;
  color: #ffffff;
}
.page-main {
  background-color: #ffffff;
  color: #000000;
}

.welcome {
  background-image: url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4dae9;
}
.welcome-image {
  display: block;
  margin: 0 auto;
}
.description {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
}
.description-title {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.description-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.advantages-item-w-image {
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
  display: flex;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  background-color: #83B3D31F;
}
.advantages-card {
  width: 400px;
}
.advantages-card-light {
  background-color: #82B3D3;
  width: 400px;
}
.advantages-title-light {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-title {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-text-light {
  line-height: 28px;
  font-size: 24px;
  text-align: center;
}
.advantages-text {
  line-height: 28px;
  font-size: 24px;
  text-align: center;
}
.preview {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.preview-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.benefits {
  display: flex;
  flex-wrap: wrap;
}
.benefits-item {
  background-color: #83B3D31F;
  min-height: 385px;
}
.benefits-card {
  width: 400px;
}
.benefits-image {
  display: flex;
  margin: 0 auto;
}
.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.benefits-text {
  text-align: center;
  color: #333333;
}

.search-promo-btn {
  display: inline;
  margin: auto;
  padding: 8px 50px;
  text-align: center;
}
.subscribe {
  background-image: url("../images/subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #82B3D3;
}
.subscribe-news {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  justify-content: center;
}
.subscribe-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
.subscribe-label-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: inherit;
}
.button-light {
  color: #ffffff;
  background-color: #82B3D3;
}
.page-footer {
  background-color: #ffffff;
  color: #000000;
}
.social {
  display: flex;
  justify-content: space-around;
}
.social-list {
  display: flex;
  list-style-type: none;
}
.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.row {
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  width: 1200px;
  padding-top: 35px;
  padding-left: 70px;
}
.breadcrumbs {
  color: #ffffff;
}
.breadcrumbs-list {
  width: 1060px;
}
.breadcrumbs-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.row-form {
  display: flex;
}
.row-group {
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 73px;
}
.row-h-first {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
}
.row-group-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.checkbox {
  list-style-type: none;
  padding: 0;
}
.checkbox-input {
  background-color: #ffffff;
  color: #3F5E72;
}
.checkbox-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: inherit;
  color: #ffffff;
}
.price {
  margin-left: 141px;
}
.price-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  font-family: inherit;
}
.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  font-family: inherit;
}
.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: inherit;
}
.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}
.wrapper-select {
  display: flex;
  margin-left: 70px;
}
.select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.catalog {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}
.catalog-list {
  list-style-type: none;
}
.catalog-item {
  width: 340px;
  padding: 20px;
  margin: 0 20px;
}
.catalog-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
.catalog-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.catalog-link {
  text-decoration: none;
}
.catalog-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  text-align: right;
}
.button-card {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.catalog-rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
}
.pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
.pagination-item-active {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-number {
  text-decoration: none;
  color: #ffffff;
}
.pagination-number-active {
  text-decoration: none;
  color: #000000;
}
.pagination-item {
  color: #ffffff;
  background-color: #82B3D3;
}
.subscribe-light {
  background-color: #ffffff;
}
.subscribe-label-input-light {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
.subscribe-text-light {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.subscribe-news-light {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
